@import "tailwindcss";

@theme {
  --font-sans: 'DM Sans', sans-serif;
}

.hero-grid {
  grid-template-rows: auto;
}
@media (min-width: 1024px) {
  .hero-grid {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
}

button{
  @apply cursor-pointer;
}